---
import Form from "./Form.astro";
import Section from "./Section.astro";
---

<Section id="contact">
	<h3 class="mt-8 md:mt-14 mb-8 text-center text-4xl">✉️ Contact</h3>
	<p>
		You can send me a message throught this form bellow or contact me in my
		socials!
	</p>
	<Form />
</Section>
