---

---

<form
	class="w-full max-w-96 mt-10 p-10 flex flex-col gap-4 justify-center items-center rounded-xl border-2 border-neutral-800 accent-indigo-500 text-sm md:text-md"
	action="https://formspree.io/f/xgeprelq"
	method="POST"
>
	<input
		type="email"
		name="email"
		placeholder="Your email..."
		class="w-full py-1 px-3 rounded-full bg-neutral-700"
	/>
	<input
		type="text"
		name="name"
		placeholder="Your name..."
		class="w-full py-1 px-3 rounded-full bg-neutral-700"
	/>
	<textarea
		name="message"
		placeholder="Your message"
		class="w-full h-[60px] py-1 px-3 rounded-full bg-neutral-700"
	></textarea>
	<!-- your other form fields go here -->
	<button
		type="submit"
		class="w-full px-3 py-1.5 rounded-full bg-indigo-500 text-white uppercase font-semibold hover:opacity-70"
		>Send</button
	>
</form>
