---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

console.log("RENDER");

const { pathname, hash } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive =
	pathname.includes(`#${hash}`) ||
	href === pathname ||
	href === "/" + subpath?.[0];
---

<a
	id={`nav-link-${hash ?? pathname}`}
	href={href}
	class:list={[
		className,
		{
			underline: isActive,
			"underline-offset-8": isActive,
			"font-medium": isActive,
			"text-indigo-500": isActive,
		},
	]}
	{...props}
>
	<slot />
</a>

<script>
	const { pathname, hash } = window.location;

	console.log("BLA", pathname, hash);

	const a = document.getElementById(`nav-link-${hash ?? pathname}`);

	a?.addEventListener("click", () => {
		console.log("click");
		a.classList.add(
			"text-indigo-500",
			"font-medium",
			"underline",
			"underline-offset-8",
		);
	});
</script>
